.menus a{
    padding: 2rem;
    font-size: 1rem
}
nav{
    /* box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.411), 0 6px 20px 0 rgba(0, 0, 0, 0.19); */
}
.bottom-navigation{
    z-index: 3;
    /* border-radius: 0px 0px 20px 20px; */
    width: 100%;
}